body {
 font-family: 'Sua fonte' sans-serif; /* Aplica a fonte escolhida ao texto do corpo */
 line-height: 1.6; /*Aprimora a altura da linha para melhor legibilidade*/
 color: #333; /*Define a cor do texto para um tom de cinza escuro*/
}

h1, h2, h3 {
 color: #0066cc; /*Define a cor azul para os títulos*/
}

p {
 font-size: 16px;/*Define o tamanho da fonte para parágrafos*/
 font-family: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
   
}
body{
    background: linear-gradient(#c3cfe9 15%, #e2bff0 100%);
}

#titulo{
    color: blueviolet;
}

.texto{
    color: black;
}

footer{
    background: linear-gradient(#721d8c 15%, #083469 100%);
    color:  rgb(53, 229, 252);
    padding: 16px 0;
}